body {
    background-color: black;

}
.logosmash {
    margin:5px auto 5px;
    display: block;
    margin-top: 25%;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    text-align: center;
}
.botonaco {
    display: block;
    margin: 10px auto 10px;
    border-radius: 5rem;
}
.losputos {
    display: flex;
    flex-flow: row;
    margin-top: 20%;
}
.jugador1, .jugador2, .jugador3, .jugador4 {
    display: flex;
    height: 50%;
    padding-block-start: 5%;
}
.boton1, .boton2, .boton3, .boton4 {
    display: flex;
    height: 30%;
    border-radius: 5rem
}
.luchando {
    color:aliceblue;
}
.finale {
    margin-top: 10%;
}
.seleccion_jugadores{
    display: none;
    justify-content: center;
    padding: 20vh;
}
.incine {
    height: 15vw;
    width: 10vw;
}
.pikach {
    height: 10vw;
    width: 10vw;
}
.mewtw {
    height: 10vw;
    width: 10vw;
}
.grenij {
    height: 10vw;
    width: 10vw;
}
.escenariofinal {
    display: block;
    background-image: url("https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/9/9a/latest/20180907175905/Destino_final_SSBU.png/1200px-Destino_final_SSBU.png");
    background-size: cover;
    background-position: center;
    height: 98vh;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:  5rem;
}

.primerboton, .segundoboton {
    height: 4rem;
    width: 4rem;
    border-radius: 5rem
}
.texto_barra1, .texto_barra2 {
    justify-content: center;
    color: green;
    font-weight: bolder
}

.restavida1, .restavida2 {
    display: flex;
    justify-content: center;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}
.csfinal {
    justify-content: center;
    flex-direction: column;
    background-image: url(https://img4.wikia.nocookie.net/__cb20140617014046/zape/es/images/3/33/Cantidato_fondo_SmashPedia.png);
    background-size: cover;
    background-position: center;
    height: 98vh;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:  5rem;
}
.ganador {
    text-align: center;

}
